*{
	padding: 0px;
	margin: 0px;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
     font-family: 'Montserrat', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.header{
	width: 100%;
	padding: 10px 0px;
	background: #fff;
}
.header .navbar-expand-lg .navbar-nav .nav-link{
	font-size: 14px;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #28377e;
    letter-spacing: 1px;
    margin: 0px 0px 0px 25px;
    transition: 1s;
}

.header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg .navbar-nav .nav-link:focus{
	color: #f2622c;
}

.slider{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/slider.png") center top no-repeat;
	background-size: cover;
}
.inner-slider{
	width: 100%;
	padding: 70px 0px 0px;
	text-align: center;
}
.inner-slider h1{
     font-size: 52px;
     line-height: 1.2em;
     color: #fff;
     font-weight: 700;
     text-transform: uppercase;
}
.arrow{
	width: 100%;
	padding: 65px 0px 0px;
	text-align: center;
}


/* global css for title */

.title{
	width: 100%;
	padding: 0px 0px 15px;
}
.title {
    text-align: left;
}
.title h1 {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #28377e;
    text-align: center !important;
}
.col-lg-4 {
    text-align: left;
}
/* global css for title */
.who-we-are{
	width: 100%;
	padding: 100px 0px;
}
.who-we-are .title {
    margin: 60px 0px 0px;
    text-align: left;
}
.who-we-are p {
    font-size: 14px;
    line-height: 1.7em;
    color: #b0b0b1;
    text-align: left;
}
.img-fluid {
    max-width: 80%;
    height: auto;
}
.col-lg-12 {
    text-align: center;
}
.what-we-do{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/whatdo.png") center top no-repeat;
	background-size: cover;
}
h5.card-title {
    text-align: center;
}
.row{
	width: 100%;
	padding: 0px 0px 0px;
	text-align: center;
}
.what-we-do .card{
	border: 0px;
	border-radius: 0px;
	
}
.what-we-do .card .card-img-overlay{
	text-align: center;
    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4em;
}
.what-we-do .card .card-img-overlay .card-title{

}
.what-we-do .card .card-img-overlay .long-arrow{
    position: absolute;
	bottom: 30%;
	left: 40%;
}
.our-attorney{
	width: 100%;
	padding: 110px 0px 0px;
	background: url("../images/atbg.png") center top no-repeat;
	background-size: cover;
}
.our-attorney .title{
   padding: 110px 0px 0px;
}
.our-attorney .title h1{
	color: #fff;
}
.our-attorney p{
	font-size: 14px;
	line-height: 1.7em;
	color: #929dcf;
}
.our-attorney .btn-link{
	padding: 0px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f2622c;
	letter-spacing: 1px;

}
.our-attorney .card{
	border: 0px;
	border-radius: 0px;
	margin: 0px 0px 20px;

}
.our-attorney .card .card-img{
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.our-attorney .card .card-title{
	position: absolute;
	bottom: 8%;
	left: 8%;
	font-size: 22px;
	line-height: 1.4em;
	color: #fff;

}
.title h1 {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #28377e;
    text-align: left;

}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: center;
}


*, ::after, ::before {
    box-sizing: border-box;
    text-align: left;
}
.language{
	width: 100%;
	padding: 80px 0px;
	text-align: center;
}
.language .title{
	padding: 0px 0px 80px;
	text-align: center;

}
.title h1 {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #28377e;
    text-align: center; !important;
}
.inner-language{
	width: 100%;
}
.inner-language h4 {
    font-size: 22px;
    line-height: 1.3em;
    color: #28377e;
    text-align: left;
}
.inner-language p{
    font-size: 14px;
	line-height: 1.7em;
	color: #b0b0b1;
	text-align: left;
}
.inner-language .btn-link{
	padding: 0px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f2622c;
	letter-spacing: 1px;
}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: center;
}
.form-control{
	border: none !important;
    border-bottom: 1px solid #000 !important;
    text-align: left;
    border-radius: 0px !important
}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: left;
}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: center;
}
.footer{
	width: 100%;
	padding: 15px 0px;
	background: #0c1234;
}
.footer p{
	font-size: 14px;
	line-height: 1.7em;
	color: #616ca8;
	text-align: left;
}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: left;
}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: left;
}
.h1, h1 {
    font-size: 2.5rem;
    text-align: center;
}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: left;
    text-align: center;
}
.title h1 {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #28377e;
    text-align: left;
}
.social-media{
	width: 100%;
	display: block;
	text-align: right;
}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: right;
    
}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: center;
}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: left;
}
*, ::after, ::before {
    box-sizing: border-box;
    text-align: center;
}


